[Unit]
Description=Dagster webserver
After=network.target

[Service]
User=dagster
Group=dagster
WorkingDirectory=/opt/investment_data_products
Environment=PYTHONPATH=/opt/investment_data_products/src
EnvironmentFile=-/etc/investment_data_products.env
ExecStart=/opt/investment_data_products/.venv/bin/dagster-webserver -h 0.0.0.0 -p 3000 -m investment_data_products.definitions
Restart=on-failure

[Install]
WantedBy=multi-user.target
